<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="data source=192.168.35.11\SQLSVR2K8;initial catalog=PMSDB10;Persist Security Info=True;User Id=sa;Password=d3v$QL$3rv3r;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
  <!--<add name="DefaultConnection" connectionString="data source=GDDON;Integrated Security=PMSDB10;Persist Security Info=True;User Id=sa;Password=hotzshop@123;" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=GDDON; Integrated Security=true;Initial Catalog=PMSDB10; uid=sa; Password=hotzshop@123; " providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>