@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    8th Floor, Tower B, Building Number 14<br />
    DLF Cyber City, Phase – III<br />
    Gurgaon, Haryana 122002<br />
    <abbr title="Phone">P:</abbr>
    01243327954 / 55
</address>

<address>
    <strong>Monitor:</strong>   <a href="mailto:rrana@amadeus.co.in">rrana@amadeus.in</a><br />
    <strong>Developer:</strong> <a href="mailto:gd@amadeus.in">gd@amadeus.co.in</a>
</address>